[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
transformers = "*"
sentence-transformers = "*"
typer = "*"
sqlalchemy = "*"
python-dotenv = "*"
pymysql = "*"
alembic = "*"
pytz = "*"
langchain = "*"
pymupdf = "*"
langchain-community = "*"
tiktoken = "*"
langchain-openai = "*"

[dev-packages]
debugpy = "*"
flake8 = "*"
mypy = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.10"
